* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/*Estilos Header*/

header {
    width: 100%;
    background-color: antiquewhite;
    height: 70px;
    
}    
a:hover{
    border-bottom: 2px solid #9b59b6;
    color: #D980FA;
    transition-property: border-bottom, color;
    transition-duration: 1s;
}




h1 {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
    

.flex-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-right: 15px;
    
}    
        


    

li {
    display: inline;
    padding-right: 15px;
}
    

body {
    background-color: antiquewhite;
}
    
    
    /*Estilos Main*/



main {
    background-color: antiquewhite;
    padding-top: 50px;
}


.galeriaDeImagenes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    padding: 20px;
    gap: 10px;
    grid-template-areas: 
    'item1 item1 item6 item6 '
    'item2 item2 item6 item6 '
    'item8 item8 item4 item4 '
    'item8 item8 item3 item3 '
    'item9 item9 item7 item7 '
    'item5 item5 item7 item7 ';
    
}

.galeriaImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.item1 {
    transition-property: width, height;
  }
  
.item1:hover {
    width: 100%;
    height: 100%;
  }







.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.item4 {
    grid-area: item4;
}

.item5 {
    grid-area: item5;
}

.item6 {
    grid-area: item6;
}

.item7 {
    grid-area: item7;
}

.item8 {
    grid-area: item8;
}

.item9 {
    grid-area: item9;
}



/*Estilos Footer*/

.logo-face {
	width: 40px;
	height: 40px;
	padding-bottom: 15px;
	display: flex;
	justify-content: center;
	padding-right: 10px;
}


.logo-insta {
	width: 45px;
	height: 45px;
}





    